  <div class="container offsetanchor" id="cabin">
  <div class="row">
    <h1>The Cabin</h1>
    <div>
      {% if page.url != "/" %}
      <div><img class="img-responsive center-block" src="{{ site.url }}/assets/img/header-cabin1.jpg" alt="Image of the Cabin" style="width:985px;height:201px;"></div>
      {% endif %}

      <div>
        <p>Our family’s cabin is located near Sturgeon Lake, Minnesota, USA. It’s a log cabin built in 1994 with Montana grown, beetle killed, lodgepole pine. Consisting of main floor, a loft, and a unfinished basement, and nestled in the northern woods of Minnesota, it’s a <a href="https://mattrude.com/places/cabin/">pleasant break from the city</a>.</p>
        {% if page.url != "/" %}

        <div class="col-md-4 col-md-offset-8 table_of_contents">
          <ul>
            <li><a href="#getting-there">Getting There</a></li>
            <li><a href="#open">Opening the Cabin</a></li>
            <li><a href="#close">Closing the Cabin</a></li>
            <li><a href="#map">The Map</a></li>
            <li><a href="#about-cabin">About the Cabin</a></li>
            <li><a href="#while-there">While you are there</a></li>
          </ul>
        </div>
        <div class="offsetanchor" id="getting-there">
          <h2>Getting There</h2>
          <p>The address to the cabin is: <b>84275 Jack Pine Lane, Sturgeon Lake, MN 55783</b></p>
          <p>Our cabin is pretty easy to drive to:</p>
          <ul>
            <li>Drive north on Interstate 35 (east or west doesn&#8217;t matter) from the Twin Cities</li>
            <li>Exit at <strong>exit 205</strong> for<strong> Willow River</strong> (about an hour and half from Mpls)</li>
            <li>Take a <strong>right</strong> (east) at the top of the exit ramp</li>
            <li>Take a <strong>left</strong> (north) on to <strong>Walters Road</strong>, at the stop sign, about 100 feet from the ramp (note: this is the only 2 way stop I know of, the traffic to the right does not STOP, so watch for them.)</li>
            <li>Continue on Walters Road, it&#8217;s a very winding road, watch for oncoming cars, but DO NOT TOUCH THE SIDE or you will go in the ditch.  The first mile or so is paved, the rest of the way is on dirt roads.  Make sure you slow down before crossing from pavement to dirt</li>
            <li>From Walters Road, take a <strong>left</strong> at the &#8220;<strong>T</strong>&#8221; on to <strong>Military Road</strong> (Note the farm house across the street)</li>
            <li>Continue on Military, you will cross a small bridge (notice the concrete side barriers and pavement under your wheels &#8212; this is my river (The Willow River) and almost everything to your left after the bridge is our property)</li>
            <li>Take a <strong>left</strong> at the very first intersection after the bridge/river on to <strong>Jackpine Ln</strong>, just on top of the hill</li>
            <li>We are the first easy-to-miss driveway on the left, look for the fire number <b>84275</b>.  It&#8217;s a log cabin with a metal gate, and you can see the cabin from the road, but not until you drive past it</li>
            <li>Park on the left hand side of the road (closest to the cabin), or in the driveway if there is space</li>
          </ul>
        </div>

        <div class="offsetanchor" id="open">
        <h2>Opening the Cabin</h2>

        <p>While the cabin is not in use, the power and water is turned off.  To turn on the power, you must go into the basement (with any luck the overhead light will still be powered).  Go to the center back wall, oppsite the door, between the bathroom and the shop.  There you will find the power panel, open it.  In the winter, turn on ALL the circuit breakers, in the summer time, there is no reason to turn on the two large double circuit breakers near the bottom left of the panel (as they are for the in floor heat).</p>

        <p>To turn the water on, to your right while looking at the power panel, you will find a light switch, turn it on (this will turn on the pump). Next near you feet you will see a pipe coming out of the floor with a large handle on it, turn the handle so it is parallel with the pipe (pointing in the same direction).  After you do this, you should start to hear the water flowing threw the pipes and most likely splatters out of the tabs as the air bleeds from the system.  Last walk around and turn off all the different faucets, don’t forget the shower (I left that one going for a night once).</p>

        <div class="offsetanchor" id="close">
        <h2>Closing the Cabin</h2>

        <p>Since the main floor and loft are not heated while no one is at the cabin, it is <b>VERY</b> importent to close the cabin correctly when you leave over night.</p>

        <h3>In the Winter Time</h3>

        <div class="alert alert-danger" role="alert">
          <p><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> It is <b>extremely</b> important to close the cabin correctly during the winter. If you forget or miss a step, you should drive back and finish it or let us know so we can. If a step is missed, damage <b>will</b> occure and the cabin will be unusable until it is fixed.</p>
        </div>

        <p>In the winter time the water must be turned off and draned from the pipes and the fixtures before you leave.  Since only the basement is heated, but not the log part of the cabin.  While no one is around, if the pipes are not draned they will freeze and break.</p>

        <ol>
            <li>Go into the basement and go to the center back wall, opposite the door, between the bathroom and the shop.</li>
            <li>To the right of the power panel, you will find a light switch. Turn it off (so it is pointing down), the pump is now turned off.</li>
            <li>Once the light switch is off, below the power panel is a large pipe coming out of the floor. Move the handle so it is pointing away (to the side/perpendicular/at a right angle) to the pipe.</li>
            <li>Next you need to drain the pipes from upstairs.
                <ul wfd-id="123">
                    <li>Go into the basement bathroom and put the sink faucet to <strong>warm</strong> (so both hot and cold water is coming out). Some water may come out, but only what is left in the pipes.</li>
                    <li>Leave the faucet in the warm state and go upstairs.</li>
                    <li>Once upstairs, open the kitchen faucet in the same way, to warm (so both hot and cold water may come out).</li>
                    <li>Lift the hand sprayer above your head while holding the button in, to confirm that water is out of it also.</li>
                    <li>Go into the upstairs bathroom and open both the hot and cold water on the sink.</li>
                    <li>Flush the toilet to empty ALL WATER from it.</li>
                    <li>Lift the hand sprayer as high as you can, while holding the button in, to confirm that water is out of it also.</li>
                </ul>
            </li>
            <li>After the water is turned off, go back downstairs.</li>
            <li>On the power panel, turn off all the breakers WITHOUT a Red/Orange sticker on them.  (The one labeled &#8220;living-room may be kept on so the room has power).</li>
            <li>Turn off the light in the basement via the light-switch by the door on your way out.</li>
            <li>Lock the basement door.</li>
            <li>Go back up stairs and confirm the front door are locked.</li>
            <li>Close and lock the gate at the end of the driveway (using the same key as you use for the doors of the cabin).</li>
        </ol>

        <h3>In the Summer Time</h3>

        <p>It is not as importent that the cabin is closed down correctly in the summer time, but it still should be.</p>

        <p>The two extra things you need to do to close the cabin (besides clean up and lock up), is to turn off the water and power before you leave.</p>

        <p></p>

        <div class="offsetanchor" id="map">
          <h2 id="map">The Map</h2>
          <p>Below is a map how to get there. The route in red is the backup route, if you click on the route, you will get the directions for that route.</p>
          <p><iframe src="https://maps.google.com/maps/ms?msid=211011100412434983489.0004a080ff674da7ec912&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;source=embed&amp;ll=46.346454,-92.782116&amp;spn=0.071098,0.11158&amp;z=13&amp;output=embed" height="600" width="100%"></iframe><small>View the <a style="color: #0000ff; text-align: left;" href="https://maps.google.com/maps/ms?msid=211011100412434983489.0004a080ff674da7ec912&#038;msa=0&#038;ie=UTF8&#038;t=m&#038;source=embed&#038;ll=46.338158,-92.793961&#038;spn=0.071109,0.132008&#038;z=13&#038;dg=feature" target="_blank">Cabin Map</a> as a larger map.</small></p>
        </div>
        {% endif %}

        <div class="offsetanchor" id="about-cabin">
          <h2 id="about-cabin">About the Cabin</h2>

          <p>The cabin was built in August of 1994 from beetle killed, lodge-pole pine from Hamilton, Montana. Bob Kliegel was the log builder. He had built several other log structures before this one. The logs were first fitted together on the builder’s property in Pine City, MN in two parts. After all the logs were fitted and numbered, the building was disassembled and placed on a truck for transport to our property. Like a large Lincoln logs set, after it arrived at the site, it was reassembled in under two days with the use of a crane.</p>

          <p>The logs are fitted together by a method called Swedish Cope or Scribe-fit. This method involves using a scribe to trace the contours of the lower log onto the upper log. After the contours are traced, the line may be cut out with a chainsaw to allow the two logs to fit perfectly onto one another. This eliminates any gaps and does not require any chinking as you see in some cabins.</p>

          <p>Prior to the log’s arrival, the basement and main cabin subfloor were in place. The logs were placed directly on top of the cement block basement and plywood subfloor. Electrical wires were pulled through holes drilled vertically between each log when the cabin was disassembled. This allowed electric boxes to installed directly in the logs on both of the upper floors.</p>

          <p>By winter of 1994, the cabin was closed in with windows and doors, and the deck was built. Two days after the roof was finished the first snow arrived. Since the only heat it had was in the basement, we slept there as we continued to finish the upstairs. We also did not have water or any plumbing the first winter. Work continued for several years, adding the loft, flooring, kitchen, and bathrooms.</p>

          <p>As the building dried and settled, it shrank. The windows, doors, and any internal walls were designed to allow for this shrinking or they would be crushed by the weight of the logs. Each of the windows and both of the doors have a space above them to allow for this shrinking. This space is covered by the molding. The molding is designed with a front part attached to the logs above, and the inter part attached to the lower window. This allows the logs to move, but not open any cracks between the building and the windows/doors. They are held in on the sides by two by fours that slid in grooves in the logs and are only screwed in on the bottoms.</p>

          <p>The cabin is heated by a wood stove on the main floor and in-floor heating in the basement. The basement rarely gets below the mid 60’s but the main floor regularly freezes in the winter during the week when no one is heating it. For this reason, all water and most power is turned off while we are away.</p>

        </div>


        {% if page.url != "/" %}
        <div class="offsetanchor" id="while-there">
          <h2>While you are there</h2>

          <p>The cabin is fully stocked with what you need for a nice weekend away. With a full kitchen, 1 & 1/2 baths (full bath is in the basement), it’s heated by a wood stove and it sleeps 8.</p>

          <p>The building is only 24 by 24 feet, with a 24 by 14 foot loft. The loft has 2 sleeping area’s separated by a wall but open to the front of the loft.  The far space has a double bed with a small sitting area next to the outside door (to a small balcony that may someday be built).  The near side has two single beds.  Besides the bathroom on the main floor, there are no “private rooms” on the main level and loft.</p>

          <div><img class="img-responsive center-block" src="{{ site.url }}/assets/img/cabin.jpg" alt="Image of the cabin"></div>

          <p>Below this space is the basement. The only way of accessing the basement is by going out side and around to the basement door (under the front porch). The basement has a bedroom, the 2nd bathroom, and a shop. The power and water are both managed in the space between the bathroom and the shop.</p>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
