          <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav">
              {% if page.url == "/" %}
              <li>
                <a href="#about">About</a>
              </li>
              <li>
                <a href="#photo">Family Photo</a>
              </li>
              <li>
                <a href="#cabin">Cabin</a>
              </li>
              <li>
                <a href="#network">Network</a>
              </li>
              <li>
                <a href="#contact">Contact</a>
              </li>
              {% else %}
              <li>
                <a href="/#about">About</a>
              </li>
              <li>
                <a href="/#photo">Family Photo</a>
              </li>
              <li>
                <a href="/#cabin">Cabin</a>
              </li>
              <li>
                <a href="/#network">Network</a>
              </li>
              <li>
                <a href="/#contact">Contact</a>
              </li>
              {% endif %}
            </ul>
          </div>
