  <div class="container offsetanchor" id="network">
    <div class="row">
    <h1>The Rude Family Network</h1>

  <!-- The Email Section -->

  <div class="container offsetanchor" id="email">
    <div class="row">
      <h2><i class="fa fa-envelope "></i> The Email Service</h2>
      <p>Email service is provided by <a href="https://gsuite.google.com/">G Suite</a> by <a href="https://www.google.com/">Google</a>.  This is the same service as gmail but uses the <b>therudes.com</b> instead.  
      <p>This domain provides OpenPGP <a href='https://tools.ietf.org/html/draft-koch-openpgp-webkey-service-07'>Web Key Directory</a> (WKD), <a href='https://tools.ietf.org/html/rfc7929'>DNS-Based Authentication of Named Entities</a> (DANE), and Public Key Association (PKA) authentication of public keys, for posted keys.</p>
      <p>To submit a public pgp key, send a signed email with your public key attached to <a href="mailto:wkd-submission@therudes.com">wkd-submission@therudes.com</a>.  A message will be returned explaining how to finish the setup.  Once the key has been authenticated, it will be posted in the WKD directory and via DNS as both DANE and PKA records.</p>
    </div>
  </div>

  <!-- The Instant Messaging Section -->

  <div class="container offsetanchor" id="im">
    <div class="row">
      <hr>
      <h2><i class="fa fa-commenting"></i> Instant Messaging</h2>
        <p>This service provides e<b>X</b>tensible <b>M</b>essaging and <b>P</b>resence <b>P</b>rotocol (<b>XMPP</b>), an open XML technology for real-time communication, which powers a wide range of applications including instant messaging, presence and collaboration. XMPP allows for communication between users on the same server and users across many servers at the same time.</p>
        <h3>How to use the service</h3>
        <p>This service requires the use of a client to connect to the server with.  My personal preferred clients are <a href="http://swift.im/">Swift</a> or <a href="https://gajim.org/">Gajim</a> (advanced users) for desktop/laptops and <a href="https://conversations.im/">Conversations</a> or <a href="http://xabber.com">Xabber</a> on Android, or <a href="https://chatsecure.org/">ChatSecure</a> for iOS.</p>
        <p>After installing the software, you should be prompted for your JID (username) and password, if it prompts you for a hostname or port, please see below.  Your XMPP account is separate than any other account on the network, if you do not know your username and/or password, please contact Matt.</p>
        <h3>Connecting to XMPP Server</h3>
        <ul>
          <li>TCP Port: <b>5222</b></li>
          <li>Domain: <b>therudes.com</b></li>
          <li>Hostname: <b>im.therudes.com</b></li>
          <li>Conferences: <b>conference.therudes.com</b></li>
          <li>Socks 5 Proxy: <b>proxy.therudes.com</b></li>
        </ul>
        <h3>Security</h3>
        <ul>
          <li>SSL/TLS encryption is required between clients to servers (C2S) and server to server (S2S) connections</li>
          <li>The backend is configured to store hashed and salted authentication data</li>
          <li>Use <a href="https://conversations.im/omemo/">OMEMO</a> or <a href="https://otr.cypherpunks.ca/">OTR</a> (Off-the-Record) in your chat client to have fully encrypted chats</li>
        </ul>
    </div>
  </div>

  <!-- This Website Section -->

  <div class="container offsetanchor" id="website">
    <div class="row">
      <hr>
      <h2><i class="fa fa-link"></i> This Website</h2>
        <p>The source for this website may be found in the github repository <a href="https://github.com/mattrude/therudes.com#readme">therudes.com</a>. This site is licensed under the <a href="https://raw.githubusercontent.com/mattrude/therudes.com/master/LICENSE">GNU General Public License, version 3 (GPLv3)</a>, and may be used or modified under the terms of that license.</p>
    </div>
  </div>


    </div>
  </div>
