<h1>Our Family Photo</h1>

<br />

<div style="background-color:black;padding:10px;">

    <!-- Nav tabs -->
    <ul class="nav nav-stackedtabs" role="tablist" style="float:right;width:20%;">
        {% for item in site.data.photos %}
            <li role="presentation" class="active"><a href="#{{ item.year }}" aria-controls="{{ item.year }}" role="tab" data-toggle="tab">{{ item.year }}</a></li>
        {% endfor %}
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        {% for photo in site.data.photos %}
            <div role="tabpanel" class="tab-pane active" id="{{} photo.year }}">
                <img src="/assets/img/family-photos/{{ photo.image }}" class="img-responsive" alt="Responsive image" style="width:80%">
                {% if photo.discription %}
                    <div>
                        {{ photo.discription }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
