<h1>Our Family Photo</h1>

<br />

<div style="background-color:black;padding:10px;">

    <!-- Nav tabs -->
    <ul class="nav nav-stackedtabs" role="tablist" style="float:right;width:20%;">
        {% for item in site.data.photos %}
            <li role="presentation" {% if forloop.first %}class="active"{% endif %}><a href="#{{ item.year }}" aria-controls="{{ item.year }}" role="tab" data-toggle="tab">{{ item.year }}</a></li>
        {% endfor %}
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        {% for photo in site.data.photos %}
            <div role="tabpanel" class="tab-pane {% if forloop.first %}active{% endif %}" id="{{ photo.year }}">
                {% responsive_image_block %}
                    path: assets/img/family-photos/{{ photo.image }}
                    class: "img-responsive"
                    alt: "{{ item.year }}"
                    title: "{{ item.year }}"
                {% endresponsive_image_block %}
                {% if photo.discription %}
                    <div>
                        <h2>{{ photo.title }}</h2>
                        <p>{{ photo.discription }}</p>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
